body {
    background-color: #f0f2f5;
    color: #1c1e21;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.App {
    text-align: center;
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

h1 {
    color: #0b57d0;
    margin-bottom: 30px;
}

.form-container {
    display: flex;
    gap: 10px;
}

input[type = "text"] {
    flex-grow: 1;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 16px;
}

button {
    padding: 12px 20px;
    background-color: #0b57d0;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #0a4cb5;
}

.result-container {
    margin-top: 30px;
    padding: 15px;
    background-color: #e7f3ff;
    border: 1px solid #a9cfff;
    border-radius: 6px;
}

.result-container a {
    color: #0b57d0;
    font-weight: bold;
    word-break: break-all;
}

.stats-button{
    background-color: #6c757d;
}

.stats-button:hover{
    background-color: #5a6268;
}

.stats-container {
    margin-top: 30px;
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    word-break: break-all;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

.table-container {
    max-width: 400px;
    overflow-y: auto;

    border: 1px solid #ddd;
    border-radius: 12px;
    margin-top: 20px;
    background-color: #fafafa;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
}

.table-container th, 
.table-container td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    word-break: break-all;
}

.table-container thead th {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
}